body {
    overflow: hidden;
    background: var(--background);
}

.container-home {
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    background: var(--background);
}

.container-home-inside {
    width: 80vw;
    height: 70vh;
    display: flex;
    gap: 25px;
    flex-direction: column;
    margin-top: 1.1%;

    h1 {
        font-size: 1.3rem;
        font-weight: 500;
        color: #6D6D6D;
        margin-top: 10px;
    }
}

.card-row {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: 2;
    align-items: center;
}

.card {
    width: 19%;
    height: 33vh;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover{
       transform: translateY(-3px);
       box-shadow: 0 6px 12px rgba(0, 0, 0, 0.089);
    }

    
    p{
        font-size: 1.1rem;
    }
}

.icon-card{
    img{
        width: 90px;
        height: auto;
    }
}

.extended-cards-row{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.extended-card{
    width: 47%;
    height: inherit;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        font-weight: 500;
        font-size: 1.16rem;
    }
}

.projetos-ativos{
    width: 90%;
    height: 70%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.row-projeto{
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-horas{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 70%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-row-horas{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 49%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
    color: #6D6D6D;

    p{
        font-weight: 500;
    }
}

#horas{
    font-size: 1.9rem;
    font-weight: 800;
}